$bckgrnd: white;
$comp: black;

#crowd-img-front{
  background-image: url('/assets/crowd2.png');
  z-index: 2;
  -webkit-animation: bounce 3s infinite;
  -moz-animation: bounce 3s infinite;
  -ms-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

#crowd-img-back{
  background-image: url('/assets/crowd1.png');
  z-index: 1;
  -webkit-animation: bounce 6s infinite;
  -moz-animation: bounce 6s infinite;
  -ms-animation: bounce 6s infinite;
  animation: bounce 6s infinite;
}
.crowd{
  position: fixed;
  bottom: 0;
  background-size: cover;
  height: 40%;
  width: 100%;
  background-repeat: no-repeat;
}

#index-page{
  height: 10rem;
  width: 30rem;
  margin: auto;
  margin-top: -5rem;
  top: 45%;
  margin-left: -15rem;
  left: 50%;
  position: absolute;
  text-align: center;
  h1{
    font-size: 5rem;
    font-family: 'Lobster', cursive;
    position: absolute;
    margin-left: -10rem;
    left: 50%;
    top:5%;
    color: $comp;
  }
  #new_room{
    position: absolute;
    top:65%;
    margin-left: -12rem;
    left: 50%;
    width: 24rem;
    display: block;
    #room_name{
      color: $comp;
      padding: 0.4rem 0;
      text-align: center;
      border: 3px solid $comp;
      width: 65%;
      outline: none;
    }
    #join-btn{
      color: $comp;
      border: 3px solid $comp;
      background-color: $bckgrnd;
      padding: 0.5rem 0;
      width: 30%;
    }
  }
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }
}
@-moz-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }
}
@-ms-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }
}
@keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }
}
  