#theatre-page{
  #player{
    position: fixed;
    top: 0;
  }
  .btn{
    color: white;
    position: fixed;
    top: 0;
  }
  #playlist-btn{
  }
  #search-btn{
    left: 2rem;
  }
  #skip-btn{
    left: 4rem;
  }
}