/ =form_for @track, url: room_tracks_path(@room)  do |f|
/   = f.text_field :video_id, placeholder: "Pick first song"
/   = f.submit "Search"


%form#search_first_song{action: '/rooms/'+ @room.id.to_s + '/tracks/search', method: "POST"}
  %input{placeholder: "Find search video"}
  %input{type:"submit", value:"Search"} 