.row
  - @results.videos.each do |video|
    %a{href: video.unique_id}
      .col-xs-10.col-md-7
        .thumbnail
          #video-title
            = video.title
          #video-image
            = image_tag video.thumbnails.first.url


