%h1
  Playlist.en

= render "room_form"


.div#ytapiplayer


%script{:src => "http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js", :type => "text/javascript"}


:javascript
  $(document).ready(function(){
    ytplayer = new Youtube.Controller;
    ytplayer.createPlayer();
  })
  
