%h1
  #{@room_name}


.div#ytapiplayer

=render partial: "search"


:javascript
  $(document).ready(function(){
    ytplayer = new Youtube.Controller;
    ytplayer.bindListeners();
    ytplayer.createPlayer("#{@video_id}");
  })