#search-results
  - @results.videos.each do |video|
    = link_to room_path(id: @room.name, first: video.unique_id ) do
      .video-container
        .video-image-container
          = image_tag video.thumbnails.first.url, class: 'video-image'
        %p.video-title-container
          = video.title