#search-results
  - @results.each do |video|
    = link_to room_path(id: @room.name, first: video["id"]["videoId"] ) do
      .video-container
        .video-image-container
          = image_tag video["snippet"]["thumbnails"]["default"]["url"], class: 'video-image'
        %p.video-title-container
          = video["snippet"]["title"]