  <div class = "text_container">
  	<h1>Pick the first video</h1>
  	<div id = "blurb">
  		What is.
  	</div>
  </div>


  <div class = "field_container">
  	<div class = "fields">
  		<form action= "/first_search/results" method = "post" id = "first_search">
  			<input class = "input_field" id = "first_search" name = "first_search" type="text" placeholder="What song?">
  			<div id = "first_button">
  				<input type = "submit" id = "first" value = "Search Youtube">
  			</div>
  		</form>
  	</div>
  </div>
  <div class="first_search_area">
  <div class = "first_container">

  </div>
</div>

