  <div class = "text_container">
  	<h1>Pick the first video</h1>
  	<div id = "blurb">
  		What is.
  	</div>
  </div>


  <div class = "field_container border-radius">
  	<div class = "field_width">
  		<form action= "/first_search/results" method = "post" id = "first_search">
  			<input class = "input_field" id = "first_search" name = "first_search" type="text" placeholder="What song?" autocomplete="off" required>
  				<input type = "submit" class = "button expand" id = "first" value = "Search Youtube">
  		</form>
  	</div>
  </div>
  <div class="first_search_area">
  <div class = "first_container">

  </div>
</div>

<script>
  document.body.style.background="url('https://38.media.tumblr.com/a1400ccedb495be3099505e32f15d43b/tumblr_n8hftlTDqs1qbqjq1o1_1280.jpg') no-repeat center center fixed"
  document.body.style.backgroundSize = "100% 80%"
</script>


