  <div class = "text_container">
    <h1>playlist.en</h1>
    <div id = "blurb">
      Join the party.
    </div>
  </div>


    <div class = "field_container">
      <div class = "fields">
        <form action= "/room" method = "post">
          <input class = "input_field" id = "room" name = "name" type="text" placeholder="Where you're friends at?">
          <div id = "join_button">
            <input type = "submit" id = "join" value = "Join">
          </div>
        </form>
      </div>
    </div>

