<div class = "queue_container">
	<div class = "thumbnail">
		<img src = "<%= video.thumbnails.first.url %>" class = "youtube_thumbnail">
	</div>
	<div class = "queue_right">
		<div class = "video_title"> <%= video.title %></div> 
		<br>
	</div>
</div>

