<div class = "queue_container">
	<div class = "sidebar_thumbnail">
		<img src = "<%= thumbnail_url %>" class = "youtube_thumbnail">
	</div>
	<div class = "queue_right">
		<div class = "queue_title"> <%= title %></div> 
		<br>
	</div>
</div>
