<div id = "room_page">

	<div class = "top_half">

		<div class = "signout">
			<a href = "/signout"> Bounce </a>
		</div>

<!-- "https://www.youtube.com/v/M7lc1UVf-VE?controls=0&rel=0&showinfo=0&autohide=1&version=3" -->

	<% if @host == true %>
			<div id="ytplayer"></div>
		<% end %>


		<div id = "toggle_button">
			X
		</div>
		<div id = "hide_sidbar">
			<div id = "sidebar">
				
				<% @playlist_videos.each do |video| %>
				<div class = "queue_container">
					<div class = "sidebar_thumbnail">
						<img src = "<%= video.thumbnails.first.url %>" class = "youtube_thumbnail">
					</div>

					<div class = "queue_right">
						<div class = "queue_title"> <%= video.title %></div> 
						<br>
					</div>
				</div>
				<% end %>
				<div class="add_queue">
				</div>
			</div>
		</div>

	</div>

	<div class = "bottom_half">

			<div id = "search_container">
				<form action= "/search" method = "post" id = "search">
					<img id = "mag_glass" src = "http://www.9zap.com/wp-content/uploads/2010/08/329.jpg">
					<input  type="text" id = "search_field"name = "search" placeholder="Search YouTube">
				</form>
			</div>
		<div class ="search_area">
			<div class = "result_container">
			</div>
		</div>




	</div>

</div>
