!!!
%html
  %head
    %title Playlisten
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => 'http://fonts.googleapis.com/css?family=Lobster', :rel=>'stylesheet', :type=>'text/css'}/
    %link{:href => 'http://fonts.googleapis.com/css?family=Lato', :rel=>'stylesheet', :type=>'text/css'}/
  %body
    = yield
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %script{:src => "http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js", :type => "text/javascript"}
